/*body*/

/*big content*/
a.thumbnail{
  border-style: none;
  position: relative;
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

#navbar{
    color: #1a1b1c;
}
div.title {
  bottom: 30px;
  left: 30px;
  position: absolute;
  color: white;
  font-weight: 300;
}

div.subtitle{
  bottom: 10px;
  left: 15px;
}

.hero-title{
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

div.title p{
  font-size: 13px;
}

/*small content*/
#carousel-main{
  display: none;
}

#carousel-main img{
  width: 120%;

}

/*Featured Content*/

#content-featured h1{
  color: #2c7af7;
  font-weight: bold;
  font-size: 50px;
}

.img-featured p{
  font-weight: bold;
  font-size: 26px;
  color: black;
  text-decoration: none;
  text-align: left;
}

.img-featured img{
  width: 100%;
}
.img-featured:hover{
  text-decoration: none;
  color: #2c7af7;
}
.img-featured:hover p{
  color: #2c7af7;
}

#comic > .col-md-6, #comic > .col-md-4{
  margin-top: 140px;
}
#comic > .col-md-6 .col-md-4{
  padding-left: 2px;
}

#comic > .col-md-4 img{
  width: 100%;
  height: 100%;
}
#comic div, #comic-small div{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
a:hover{
  text-decoration: none;
}
#comic .book-type, #comic-small .book-type{
  color: #2c7af7;
  text-transform: uppercase;
  font-size: 16px;
}
#comic .book-name, #comic-small .book-name{
  text-transform: uppercase;
  font-size: 20px;
}
#comic .book-day, #comic-small .book-day{
  color: darkgrey;
}
#comic div:hover, #comic-small div:hover{
  text-decoration: none;
  color: #2c7af7;
}
#comic-small{
  display: none;
}


@media only screen and (max-width : 1000px)  {

  .img-side img{
    width: 120%;
  }
  .img-hero{
    display: none;
  }
  #comic{
    display: none;
  }
  #comic-small{
    margin-top: 40px;
    display: block;
  }
}

@media only screen and (max-width : 768px) {
  #content-featured{
    margin-left: 1%;
  }
  #div-main{
    width: 120%;
    display: none;
  }

  #carousel-main{
    display: block;
    width: 100%;
  }


}
